# =========================
# NODE / MERN
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# ENV FILES (CRITICAL)
# =========================
.env
server/.env
client/.env
client/.env.local

# =========================
# BUILD OUTPUTS
# =========================
client/dist/
dist/
build/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# NETLIFY
# =========================
.netlify/
